<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.api.dao.mapper.ShareFollowMapper">
  <resultMap id="BaseResultMap" type="com.api.domain.ShareFollow">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="symbol" jdbcType="VARCHAR" property="symbol" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="three" jdbcType="DOUBLE" property="three" />
    <result column="five" jdbcType="DOUBLE" property="five" />
    <result column="ten" jdbcType="DOUBLE" property="ten" />
    <result column="thirteen" jdbcType="DOUBLE" property="thirteen" />
    <result column="twenty" jdbcType="DOUBLE" property="twenty" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="focus_on" jdbcType="VARCHAR" property="focusOn" />
    <result column="description" jdbcType="VARCHAR" property="description" />
  </resultMap>
  <sql id="Base_Column_List">
    id, symbol, name, three, five, ten, thirteen, twenty, status, focus_on, description
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from share_follow
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from share_follow
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.api.domain.ShareFollow">
    insert into share_follow (id, symbol, name, 
      three, five, ten, thirteen, 
      twenty, status, focus_on, 
      description)
    values (#{id,jdbcType=INTEGER}, #{symbol,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, 
      #{three,jdbcType=DOUBLE}, #{five,jdbcType=DOUBLE}, #{ten,jdbcType=DOUBLE}, #{thirteen,jdbcType=DOUBLE}, 
      #{twenty,jdbcType=DOUBLE}, #{status,jdbcType=INTEGER}, #{focusOn,jdbcType=VARCHAR},
      #{description,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.api.domain.ShareFollow">
    insert into share_follow
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="symbol != null">
        symbol,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="three != null">
        three,
      </if>
      <if test="five != null">
        five,
      </if>
      <if test="ten != null">
        ten,
      </if>
      <if test="thirteen != null">
        thirteen,
      </if>
      <if test="twenty != null">
        twenty,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="focusOn != null">
        focus_on,
      </if>
      <if test="description != null">
        description,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="symbol != null">
        #{symbol,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="three != null">
        #{three,jdbcType=DOUBLE},
      </if>
      <if test="five != null">
        #{five,jdbcType=DOUBLE},
      </if>
      <if test="ten != null">
        #{ten,jdbcType=DOUBLE},
      </if>
      <if test="thirteen != null">
        #{thirteen,jdbcType=DOUBLE},
      </if>
      <if test="twenty != null">
        #{twenty,jdbcType=DOUBLE},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
      <if test="focusOn != null">
        #{focusOn,jdbcType=VARCHAR},
      </if>
      <if test="description != null">
        #{description,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.api.domain.ShareFollow">
    update share_follow
    <set>
      <if test="symbol != null">
        symbol = #{symbol,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="three != null">
        three = #{three,jdbcType=DOUBLE},
      </if>
      <if test="five != null">
        five = #{five,jdbcType=DOUBLE},
      </if>
      <if test="ten != null">
        ten = #{ten,jdbcType=DOUBLE},
      </if>
      <if test="thirteen != null">
        thirteen = #{thirteen,jdbcType=DOUBLE},
      </if>
      <if test="twenty != null">
        twenty = #{twenty,jdbcType=DOUBLE},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="focusOn != null">
        focus_on = #{focusOn,jdbcType=VARCHAR},
      </if>
      <if test="description != null">
        description = #{description,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.api.domain.ShareFollow">
    update share_follow
    set symbol = #{symbol,jdbcType=VARCHAR},
      name = #{name,jdbcType=VARCHAR},
      three = #{three,jdbcType=DOUBLE},
      five = #{five,jdbcType=DOUBLE},
      ten = #{ten,jdbcType=DOUBLE},
      thirteen = #{thirteen,jdbcType=DOUBLE},
      twenty = #{twenty,jdbcType=DOUBLE},
      status = #{status,jdbcType=INTEGER},
      focus_on = #{focusOn,jdbcType=VARCHAR},
      description = #{description,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>

  <select id="getAllRecord" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from share_follow
  </select>


</mapper>